@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.logo{
  width: 120px;
}
.header-left{
    display: flex;
    align-items: center;
    gap: 10px;  
    justify-content: space-between;
    .main-menu{
        display: flex;
        gap: 15px;
        list-style: none;
        li{
            cursor: pointer;
        } 
    }
}
.inner{
    max-width: 1200px;
    margin: 0 auto;
} 